body{
    color: yellow;
}
h1{
    text-align: center;
    margin: auto;
}
.nav-links :hover{
    cursor: pointer;
}
.nav-links{
    text-align: center;
    color: green;
}
.croissant-image {
    max-width: 100%;
    border-radius: 10px;
    display:block;
    margin: 30px auto;
}